# Ignorar archivos generados por el sistema operativo
.DS_Store
Thumbs.db

# Ignorar archivos de configuración local
.env
.env.local

# Ignorar archivos de dependencias de npm
node_modules/

# Ignorar archivos de construcción
dist/
build/

# Ignorar archivos específicos
archivo-de-prueba.txt

# Ignorar todo un directorio
logs/
